*{
  padding: 0%;
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
$black:#101820FF;
$orange:#F2AA4CFF;

@mixin bordergrad {
  border:6px solid;
  border-image-source: linear-gradient(to left, $black, $orange);
  border-image-slice: 60 30;
  background-position: center;
  margin: 2px;
  &:hover{
    border-image-source: linear-gradient(to left, $orange, $black);
    transition: 0.5s;
    transform: translate(7px, -10px);
  }
}


.page-container{
  width:100vw;
  height: 100vh;
  #mobile-menu-container{
    display: none;
  }
}
header{
  width: 100vw;
  height: 10%;
  
  nav{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    border-bottom: solid thick white;

    .mobile-burgerbar-container{
      display: none;
    }
    p{
      display: flexbox;
      margin-left: 10px;
      text-align: center;
      font-size: 1.5em;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 0.5em 0.7em;
      border: solid thick white;
      border-radius: 20px;
      .Yasmin-logo{
        color: white;
        text-decoration: underline;
      }
      .Mayeh-logo{
        color: green;
      }
    }
    ol{
      display: none;
    }
    ul{
      display: flexbox;
      margin-right: 70px;
      font-family: sans-serif;
      li{
        margin-left: 20px;
        display: inline;
        &:hover a{
          color: $orange;
        }
        a{
          font-size: 1.1rem;
          color: whitesmoke;
        }
        &:nth-last-child(1) a{
          color: rgb(9, 122, 9);
        }
      }
    }
  }
}
main{
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: $orange;
  justify-content: center;
  align-items: center;

  section{  
    display: flex;
    width: 80vw;
    height: 70vh;
    flex-direction: none;
    article{
      width: 50%;
      height: 100%;
    }
    .left-side-screen{
      border:6px solid;
      border-image-source: linear-gradient(to left, green, white);
      border-image-slice: 60 30;
      background-color: $black;
      padding: 30px;
      display: flex;
      height: 100%;
      width: 50%;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      .top-bottom{
        text-align: center;
        font-size: 2.3vw;
        height:50% ;
        width: 100%;
        overflow: hidden;
        h1{
          
          color: white;
        }
        p{
          color: green;
          
          
        }
        .grid-container{
          width: 100%;
          height: 100%;
          font-size: 1rem;
          display: grid;
          opacity: 0.5;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: 
          "box1 box2 box3"
          "box4 box5 box6";
          &:hover{
            opacity: 1;
          }
          .box1-twitter{
            @include bordergrad();
            background:url(/images/twi.png)white no-repeat;
            background-size: cover;
            background-position: center;
            grid-area: box1;
          }
          .box2-facebook{
            @include bordergrad();
            background:url(/images/facebk.png)white no-repeat;
            background-position: center;
            background-size: cover;
            grid-area: box2;
          }
          .box3-left{
            @include bordergrad();
            background:url(/images/linkn.png)white no-repeat;
            background-position: center;
            background-size: cover;
            grid-area: box3;
          }
          .box4-left{
            @include bordergrad();
            background:url(/images/grams.png)white no-repeat;
            background-position: center;
            background-size: cover;
            grid-area: box4;
          }
          .box5-left{
            @include bordergrad();
            background:url(/images/sna.png) white no-repeat;
            background-position: center;
            background-size: cover;
            grid-area: box5;
          }
          .box6-left{
            @include bordergrad();
            background:url(/images/tubeu.png)white no-repeat;
            background-position: center;
            background-size: cover;
            grid-area: box6;
          }
        }
      }
    }
    .right-side-screen{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "box1 box2"
      "box3 box3";
      .centerbox-title{
        display: flex;
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 3s;
        h1{
          display: none;
        }
        &:hover{
          transition: 2s;
          background-color: rgba(214, 189, 78, 0.3);
        }
        &:hover h1{
          display: block;
          background-color: $black;
          color: white;
          width: 100%;
        }
      }
      .box1-right-book{
        grid-area: box1;
        background: url(/images/leaf-book.jpg) no-repeat;
        background-size: cover;
        @include bordergrad();
      }
      .box2-right-yas{
        grid-area: box2;
        background: url(/images/yasmin.png) $black no-repeat;
        background-size: contain;
        @include bordergrad();
      
        
      }
      .box3-right-photo{
        grid-area: box3;
        background: url(/images/green-leaf.jpg);
        background-size: cover;
        @include bordergrad();
      }
    }
  }
}
@import "popup-page";
