* {
  padding: 0%;
  margin: 0;
  text-decoration: none;
}

body {
  background: url(/images/featherbrown.jpg);
  background-size: cover;
}

.page-container {
  width: 100vw;
  height: 100vh;
}

.page-container #mobile-menu-container {
  display: none;
}

header {
  width: 100vw;
  height: 9.4%;
  border-bottom: solid thick white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0a14f;
}

header nav .mobile-burgerbar-container {
  display: none;
}

header nav p {
  display: flexbox;
  margin-left: 100px;
  text-align: center;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 12px 15px;
  border: solid thick white;
  border-radius: 20px;
}

header nav p .Yasmin-logo {
  color: white;
  text-decoration: underline;
}

header nav p .Mayeh-logo {
  color: green;
}

header nav ol {
  display: none;
}

header nav ul {
  display: flexbox;
  margin-right: 70px;
  font-family: sans-serif;
}

header nav ul li {
  padding-left: 20px;
  display: inline;
}

header nav ul li a {
  font-size: 1.1em;
  color: whitesmoke;
}

header nav ul li:nth-last-child(1) a {
  color: #097a09;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
}

main section {
  display: flexbox;
  height: 100%;
  width: 50%;
}

main section .section-container-left {
  padding-top: 10px;
  margin-left: 100px;
  margin-top: 150px;
  border: white thick solid;
  height: 70%;
  display: -ms-grid;
  display: grid;
  font-size: 1.8em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "box1 box1 box1" "box2 box2 box2" "box3 box4 box5" "box6 box7 box7";
}

main section .section-container-left button {
  width: 100%;
  height: 100%;
}

main section .section-container-left .top-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box1;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  text-align: center;
  color: white;
  background-color: rgba(158, 65, 65, 0.6);
}

main section .section-container-left .below-top-box {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box2;
  text-align: center;
  color: white;
  font-size: 24px;
  background-color: rgba(158, 65, 65, 0.6);
}

main section .section-container-left .twitt-box {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box3;
  margin: 10px;
}

main section .section-container-left .twitt-box button {
  background-size: contain;
  background-position: center;
  background-image: url(/images/twitter.png);
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

main section .section-container-left .face-box {
  margin: 20px;
  padding: 0px 10px;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box4;
  background-color: white;
  margin: 10px;
}

main section .section-container-left .face-box button {
  background-size: contain;
  background-position: center;
  background-image: url(/images/facebook1.png);
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

main section .section-container-left .box5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: box5;
  margin: 10px;
}

main section .section-container-left .box5 button {
  background-size: contain;
  background-position: center;
  background-image: url();
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

main section .section-container-left .box6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: box6;
  margin: 10px;
}

main section .section-container-left .box6 button {
  background-size: contain;
  background-position: center;
  background-image: url();
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

main section .section-container-left .box7 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box7;
  margin: 10px;
  border: darkgreen solid thick;
}

main section .section-container-left .box7 button {
  background-size: contain;
  background-position: center;
  background-image: url();
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

main section .section-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

main section .section-container-right .rightbox-container {
  display: flexbox;
  width: 100%;
  height: 80%;
}

main section .section-container-right .rightbox-container .right-backbox {
  display: flexbox;
  height: 100%;
  width: 85%;
  float: right;
  background-color: #ac5353;
  border: 3px solid white;
  border-top: none;
  opacity: 0.9;
}

main section .section-container-right .right-box1 {
  display: flexbox;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 150px;
  margin-left: 20px;
  background-color: #fbe1be;
  background: url(/images/leaf-book.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: solid white thick;
}

main section .section-container-right .right-box2 {
  position: absolute;
  display: flexbox;
  width: 200px;
  height: 300px;
  background: url(/images/yasmin.png) #1c682c no-repeat;
  border: solid white thick;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  margin-left: 240px;
}

main section .section-container-right .right-box3 {
  position: absolute;
  display: flexbox;
  width: 340px;
  height: 300px;
  background-color: #fbe1be;
  background: url(/images/green-leaf.jpg);
  background-size: cover;
  border: solid white thick;
  margin-top: 370px;
  margin-left: 55px;
}

main #popup-menu {
  display: none;
  position: absolute;
  right: 0;
  height: 90vh;
  width: 50vw;
  position: absolute;
  background-color: gray;
  border-left: solid thick white;
  z-index: 10;
  opacity: 0.9;
  -webkit-transition: width 3s;
  transition: width 3s;
}

main #popup-menu menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: grey;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

main #popup-menu menu .x-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #e0a14f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 3s;
  transition: 3s;
}

main #popup-menu menu .x-container:hover {
  -webkit-transform: rotate(900deg);
          transform: rotate(900deg);
  border-radius: 40px;
  -webkit-transition: 3s;
  transition: 3s;
}

main #popup-menu menu .x-container .x-lines {
  display: flexbox;
  width: 100%;
  height: 6px;
  background-color: #020201;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main #popup-menu menu .x-container .x-lines::before {
  position: absolute;
  display: flexbox;
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: green;
  width: 100%;
  height: 6px;
}

main #popup-menu article {
  text-align: center;
  background-color: #e0a14f;
  font-size: 1.5em;
}

main #popup-menu #books {
  display: none;
}

main #popup-menu #photos {
  display: none;
}

main #popup-menu #aboutyas {
  display: none;
}

.centre-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centre-box-title h2 {
  display: flexbox;
  font-size: 0%;
}

.centre-box-title:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e0a14f;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 1s;
  transition: 1s;
}

.centre-box-title:hover h2 {
  display: flexbox;
  text-align: center;
  font-size: 1.5em;
  background-color: lightslategrey;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=styles.css.map */