*{
  padding: 0%;
  margin: 0;
  text-decoration: none;
  
}
@mixin button-div($backgroundimage) {
  margin: 10px;
  button{
    background-size: contain;
    background-position: center;
    background-image:$backgroundimage ;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    
  }
}

$blue-color: white ;

body{
  background: url(/images/featherbrown.jpg);
  background-size: cover;
}
.page-container{
  width:100vw;
  height: 100vh;
  #mobile-menu-container{
    display: none;
  }
}
header{
  width: 100vw;
  height: 9.4%;
  border-bottom: solid thick white;
  nav{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 161, 79);

    .mobile-burgerbar-container{
      display: none;
    }
    p{
      display: flexbox;
      margin-left: 100px;
      text-align: center;
      font-size: 1.5em;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 12px 15px;
      border: solid thick white;
      border-radius: 20px;
      .Yasmin-logo{
        color: white;
        text-decoration: underline;
      }
      .Mayeh-logo{
        color: green;
      }
    }
    ol{
      display: none;
    }
    ul{
      display: flexbox;
      margin-right: 70px;
      font-family: sans-serif;
      li{
        padding-left: 20px;
        display: inline;
        a{
          font-size: 1.1em;
          color: whitesmoke;
        }
        &:nth-last-child(1) a{
          color: rgb(9, 122, 9);
        }
      }
    }
  }
}
main{
  display: flex;
  height: 90%;

  section{
    display: flexbox;
    height: 100%;
    width: 50%;
    
    
    .section-container-left{
      padding-top: 10px;
      margin-left: 100px;
      margin-top: 150px;
      border: white thick solid;
      height: 70%;
      display: grid;
      font-size: 1.8em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "box1 box1 box1"
      "box2 box2 box2"
      "box3 box4 box5"
      "box6 box7 box7" ;
      button{
        width: 100%;
        height: 100%;

      }
      .top-box{
        grid-area: box1;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        text-align: center;
        color: $blue-color;
        background-color: rgba($color: #9e4141, $alpha: 0.6);
      }
      .below-top-box{
        grid-area: box2;
        text-align: center;
        color: $blue-color;
        font-size: 24px;
        background-color: rgba($color: #9e4141, $alpha: 0.6);
      }
      .twitter-box{
        grid-area: box3;
        @include button-div(url(/images/twitter.png));
      }
      .facebook-box{
        margin: 20px;
        padding: 0px 10px;
        grid-area: box4;
        background-color: white;
        @include button-div(url(/images/facebook1.png));
      }
      .box5{
        grid-area: box5;
        @include button-div(url());
      }
      .box6{
        grid-area: box6;
        @include button-div(url());
      }
      .box7{
        grid-area: box7;
        @include button-div(url());
        border:darkgreen solid thick;
      }
    }
    .section-container-right{
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: right;
      
      
      .rightbox-container{
        display: flexbox;
        width: 100%;
        height: 80%;

        .right-backbox{
          display: flexbox;
          height: 100%;
          width: 85%;
          float: right;
          background-color: rgb(172, 83, 83);
          border:  3px solid white;
          border-top: none;
          opacity: 0.9;
        }
      }
      .right-box1{
        display: flexbox;
        position: absolute;
        width: 200px;
        height: 200px;
        margin-top: 150px;
        margin-left: 20px;
        background-color: rgb(251, 225, 190);
        background: url(/images/leaf-book.jpg)no-repeat;
        background-size: cover;
        background-position: center;
        border: solid white thick;
      }
      .right-box2{
        position: absolute;
        display: flexbox;
        width: 200px;
        height: 300px;
        background:url(/images/yasmin.png) rgb(28, 104, 44) no-repeat;
        border: solid white thick;
        background-size: cover;
        background-position: center;
        margin-top: 50px;
        margin-left: 240px;
      }
      .right-box3{
        position: absolute;
        display: flexbox;
        width: 340px;
        height: 300px;
        background-color: rgb(251, 225, 190);
        background:url(/images/green-leaf.jpg);
        background-size: cover;
        border: solid white thick;
        margin-top: 370px;
        margin-left: 55px;
      }
    }
  }
}
@import "popup-page";